@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
body {
    background-color: rgb(224, 253, 248);
    font-family: 'Slabo 27px', serif;
    overflow-x: visible;
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    margin: 0 auto;
    display: grid;
    width: 55vw;
    height: 20vw;
    padding: 1em;
    overflow: hidden;
    border-style: solid;
    border-radius: 5px;
    background-color: aquamarine;
    border-color: rgb(26, 42, 40);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
        "watitle newsTicker newsTicker"
        "waicons userinput userinput";
}

.waicons {
    grid-area: waicons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watitle {
    grid-area: watitle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userinput {
    grid-area: userinput;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.ntcont {
    grid-area: newsTicker;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsTicker {
    display: flex;
    width: 85%;
    background: #61a3d9;
    color: white;
    box-shadow: 0px 0px 8px 2px #000000;
    border: 2px solid #000;
    border-radius: .5em;
    white-space: nowrap;
    overflow: hidden;
    height: min-content;
}

.emojis {
    font-size: 1.875em;
    overflow: hidden;
    margin-top: -10%;
}

.uinput {
    font-size: 18px;
}

.btn1 {
    display: block;
    font-size: larger;
}

.convt {
    max-width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.pul {
    margin-bottom: 1em;
    margin-top: 1em;
}

#temp-to-convert,
.uinput {
    width: 100%;
}

.grid-container {
    margin: 0 auto;
    gap: 0.5fr;
    width: 55vw;
}

.landing0 {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
}

.landing {
    width: 56vw;
    display: none;
    margin: 0 auto;
    grid-template-columns: 33% auto;
    grid-template-rows: 1fr;
    gap: 0.5fr;
}

.mlanding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5fr;
    grid-row: 1 / span 1;
}

.widgets {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 4px;
    padding: 4px;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
}

.query0 {
    grid-row: 1/ 2;
    grid-column: 1/ span 1;
    margin: 4px;
    padding: 4px;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.query1 {
    grid-column: 1/2;
    margin: 4px;
    padding: 4px;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.prev {
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.future {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.prev0 {
    grid-column: 2/3;
    text-align: center;
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.today {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.tomorrow {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.tomorrow2 {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.rundown img {
    max-width: 100%;
    height: auto;
}

li {
    cursor: pointer;
}

#newsTicker p {
    display: inline-block;
    font-size: 25px;
    padding-left: 100%;
    margin: 0.5em;
    animation: tickerTape 18s linear infinite;
}

@keyframes tickerTape {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@media only screen and (max-width: 768px) {

    .grid-container,
    .landing {
        width: 100vw;
    }

    .header {
        width: 100vw;
        height: 40vw;
    }
}

@media only screen and (max-width: 680px) {
    #newsTicker p {
        font-size: small;
    }
    .btn1 {
        font-size: small;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
    }
    .btn1 {
        font-size: smaller;
    }
}
@media only screen and (max-width: 350px) {
    .header {
    grid-template-rows: auto;
    grid-template-areas: "userinput";
    }
    #newsTicker {
        display: none;
    }
    .watitle {
        display: none;
    }
    .waicons {
        display: none;
    }
    body {
        font-size: x-small;
    }
    .landing {
        grid-template-columns: auto;
        grid-template-rows: 1fr;
    }
    .widgets {
        display: none;
    }
    .pul {
        display: none;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}