@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
    background-color: rgb(224, 253, 248);
    font-family: 'Slabo 27px', serif;
    overflow-x: visible;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.4em;
}

.header {
    margin: 0 auto;
    display: grid;
    width: 55vw;
    height: 20vw;
    padding: 1em;
    overflow: hidden;
    border-style: solid;
    border-width: medium;
    border-radius: 0.5em;
    background-color: aquamarine;
    border-color: rgb(26, 42, 40);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
        "watitle newsTicker newsTicker"
        "waicons userinput userinput";
}

.waicons {
    grid-area: waicons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watitle {
    grid-area: watitle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userinput {
    grid-area: userinput;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.ntcont {
    grid-area: newsTicker;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsTicker {
    display: flex;
    width: 85%;
    background: #61a3d9;
    color: white;
    box-shadow: 0px 0px 8px 2px #000000;
    border: 0.2em solid #000;
    border-radius: .5em;
    white-space: nowrap;
    overflow: hidden;
    height: min-content;
}

.emojis {
    font-size: 1.875em;
    overflow: hidden;
    margin-top: -10%;
}

.uinput {
    font-size: 1em;
}

.btn1 {
    display: block;
    font-size: medium;
}

.pul {
    margin-bottom: 1em;
    margin-top: 1em;
}

#temp-to-convert,
.uinput {
    width: 85%;
}

.convt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.grid-container {
    margin: 0 auto;
    /* gap: 0.5fr; */
    width: 55vw;
}

.landing0 {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
}

.tempresult {
    display: none;
}

.landing {
    width: 56vw;
    display: none;
    margin: 0 auto;
    grid-template-columns: 33% auto;
    grid-template-rows: 1fr;
}

.mlanding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* gap: 0.5fr; */
    grid-row: 1 / span 1;
}

.query0:hover,
.future article:hover,
.prev:hover {
    opacity: 0.7;
}

.widgets {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 1em;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 0.5em;
}

.query0 {
    grid-row: 1/ 2;
    grid-column: 1/ span 1;
    margin: 0.3em;
    padding: 0.4em;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 0.5em;
    transition: all 0.5s ease;
}

.query0.animate {
    color: blue;
}

.query0 h4 {
    font-size: 1.75em;
}

.query1 {
    grid-column: 1/2;
    margin: 0.3em;
    padding: 0.4em;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 0.5em;
}

.prev {
    grid-row: 2/ 3;
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-color: black;
    border-radius: 0.5em;
    border-style: solid;
    margin: 0.3em;
}

.prev h4,
.prev ul {
    margin: 0.5rem;
}

.future {
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
}

.prev0 {
    grid-column: 2/3;
    text-align: center;
    margin: 0.3em;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 0.5em;
    border-style: solid;
}

.today {
    margin: 0.3em;
    padding: 1em;
    background-color: beige;
    border-color: black;
    border-radius: 0.5em;
    border-style: solid;
}

.tomorrow {
    margin: 0.3em;
    padding: 1em;
    background-color: beige;
    border-color: black;
    border-radius: 0.5em;
    border-style: solid;
}

.tomorrow2 {
    margin: 0.3em;
    padding: 1em;
    background-color: beige;
    border-color: black;
    border-radius: 0.5em;
    border-style: solid;
}

.rundown img {
    max-width: 100%;
    height: auto;
}

li {
    cursor: pointer;
}

#newsTicker p {
    display: inline-block;
    font-size: 1.5em;
    padding-left: 100%;
    margin: 0.5em;
    animation: tickerTape 18s linear infinite;
}

@keyframes tickerTape {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@media only screen and (max-width: 768px) {

    .grid-container,
    .landing {
        width: 100vw;
    }

    .header {
        width: 100vw;
        height: 40vw;
    }
}

@media only screen and (max-width: 680px) {
    #newsTicker p {
        font-size: small;
    }

    .btn1 {
        font-size: small;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
    }

    .btn1 {
        font-size: smaller;
    }

    .header,
    .widgets,
    .query0,
    .query1,
    .prev0,
    .prev,
    .today,
    .tomorrow,
    .tomorrow2 {
        border-width: thin;
    }
}

@media only screen and (max-width: 350px) {
    .header {
        grid-template-rows: auto;
        grid-template-areas: "userinput";
    }

    #newsTicker {
        display: none;
    }

    .watitle {
        display: none;
    }

    .waicons {
        display: none;
    }

    body {
        font-size: x-small;
    }

    .landing {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .mlanding {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        /* gap: 0.5fr; */
    }

    .query0 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .prev {
        grid-column: 1/span 1;
        grid-row: 2/ span 3;

    }

    .future {
        grid-column: 1/span 1;
        grid-row: 3;

    }

    .widgets {
        display: none;
    }

    .pul {
        display: none;
    }

    .prev ul {
        margin: 0.5rem;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userinput {
        display: block;
        margin: 0 auto;
        width: 85%;
        height: auto;
        overflow: hidden;
    }
}