@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
    background-color: rgb(224, 253, 248);
    font-family: 'Slabo 27px', serif;
}

.header {
    background-color: aquamarine;
    border-color: rgb(26, 42, 40);
    margin: 0 auto;
    width: 55vw;
    height: 20vw;
    border-style: solid;
    border-radius: 5px;
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.waicons {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emojis {
    font-size: 1.875em;
    overflow: hidden;
}

.watitle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userinput {
    position: absolute;
    top: 66.67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn1 {
    display: inline-block;
}

.grid-container {
    margin: 0 auto;
    max-width: 55vw;
}

.landing0 {
    display: grid;
    grid-template-columns: 65% 35%;


}

.landing {
    max-width: 55vw;
    display: none;
    margin: 0 auto;
}

.mlanding {
    grid-template-areas: "query0" "prevcont" "future";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
}

.widgets {

    margin: 4px;
    padding: 4px;
    max-width: 15vw;
    max-height: 40vw;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.query0 {
    grid-area: query0;
    margin: 4px;
    padding: 4px;
    max-width: 15vw;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.query1 {
    grid-column: 1/2;
    margin: 4px;
    padding: 4px;
    text-align: center;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.prev {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.prevcont {

    grid-area: prevcont;
}

.future {
    grid-area: future;
}

.prev0 {
    grid-column: 2/3;
    text-align: center;
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.today {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.tomorrow {
    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.tomorrow2 {

    margin: 4px;
    padding: 4px;
    background-color: beige;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

li {
    cursor: pointer;
}